// SPDX-License-Identifier: (GPL-2.0-only OR BSD-2-Clause)
/*
 * Device Tree Source for the RZ/{G2L,V2L} SMARC pincontrol parts
 *
 * Copyright (C) 2021 Renesas Electronics Corp.
 */

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/rzg2l-pinctrl.h>

&pinctrl {
	pinctrl-0 = <&sound_clk_pins>;
	pinctrl-names = "default";

	i2c0_pins: i2c0 {
		pins = "RIIC0_SDA", "RIIC0_SCL";
		input-enable;
	};

	i2c1_pins: i2c1 {
		pins = "RIIC1_SDA", "RIIC1_SCL";
		input-enable;
	};

	i2c3_pins: i2c3 {
		pinmux = <RZG2L_PORT_PINMUX(18, 0, 3)>, /* SDA */
			 <RZG2L_PORT_PINMUX(18, 1, 3)>; /* SCL */
	};

#if (MTU3_PWM_SUPPORT || MTU3_PHASE_COUNTING_SUPPORT)
	mtu3_pins: mtu3 {
		pinmux =
		        //<RZG2L_PORT_PINMUX(9, 0, 4)>, /* MTIOC2A */
#if MTU3_PHASE_COUNTING_SUPPORT
			<RZG2L_PORT_PINMUX(48, 0, 4)>, /* MTCLKA */
#if (!MTU3_PWM_SUPPORT)
			<RZG2L_PORT_PINMUX(48, 1, 4)>; /* MTLCKB */
#else
			<RZG2L_PORT_PINMUX(48, 1, 4)>, /* MTLCKB */
#endif
#endif
#if MTU3_PWM_SUPPORT
			<RZG2L_PORT_PINMUX(44, 0, 4)>, /* MTIOC3A */
			<RZG2L_PORT_PINMUX(44, 1, 4)>, /* MTIOC3B */
			<RZG2L_PORT_PINMUX(44, 2, 4)>, /* MTIOC3C */
			<RZG2L_PORT_PINMUX(44, 3, 4)>; /* MTIOC3D */
#endif
	};
#endif

	scif0_pins: scif0 {
		pinmux = <RZG2L_PORT_PINMUX(38, 0, 1)>,	/* TxD */
			 <RZG2L_PORT_PINMUX(38, 1, 1)>;	/* RxD */
	};

	scif2_pins: scif2 {
		pinmux = <RZG2L_PORT_PINMUX(4, 0, 2)>, /* TxD */
			 <RZG2L_PORT_PINMUX(4, 1, 2)>, /* RxD */
			 <RZG2L_PORT_PINMUX(5, 1, 2)>, /* CTS# */
			 <RZG2L_PORT_PINMUX(5, 2, 2)>; /* RTS# */
	};

	sdhi1_pins: sd1 {
		sd1_data {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source = <3300>;
		};

		sd1_ctrl {
			pins = "SD1_CLK", "SD1_CMD";
			power-source = <3300>;
		};

		/*sd1_mux {
			pinmux = <RZG2L_PORT_PINMUX(19, 0, 1)>; // SD1_CD 
		};*/
	};

	sdhi1_pins_uhs: sd1_uhs {
		sd1_data_uhs {
			pins = "SD1_DATA0", "SD1_DATA1", "SD1_DATA2", "SD1_DATA3";
			power-source = <1800>;
		};

		sd1_ctrl_uhs {
			pins = "SD1_CLK", "SD1_CMD";
			power-source = <1800>;
		};

		/*sd1_mux_uhs {
			pinmux = <RZG2L_PORT_PINMUX(19, 0, 1)>; // SD1_CD 
		};*/
	};

	sound_clk_pins: sound_clk {
		pins = "AUDIO_CLK1", "AUDIO_CLK2";
		input-enable;
	};

#if (!MTU3_PWM_SUPPORT)
	spi1_pins: spi1 {
		pinmux = <RZG2L_PORT_PINMUX(44, 0, 1)>, /* CK */
			 <RZG2L_PORT_PINMUX(44, 1, 1)>, /* MOSI */
			 <RZG2L_PORT_PINMUX(44, 2, 1)>, /* MISO */
			 <RZG2L_PORT_PINMUX(44, 3, 1)>; /* SSL */
	};
#endif

	ssi0_pins: ssi0 {
		pinmux = <RZG2L_PORT_PINMUX(35, 0, 3)>, /* BCK */
			 <RZG2L_PORT_PINMUX(35, 1, 3)>, /* RCK */
			 <RZG2L_PORT_PINMUX(36, 0, 3)>, /* TXD */
			 <RZG2L_PORT_PINMUX(36, 1, 3)>; /* RXD */
	};

	ssi1_pins: ssi1 {       /*Bluetooth Audio */
		pinmux = <RZG2L_PORT_PINMUX(14, 0, 2)>, /* BCK */
			 <RZG2L_PORT_PINMUX(14, 1, 2)>, /* RCK */
			 <RZG2L_PORT_PINMUX(15, 0, 2)>, /* TXD */
			 <RZG2L_PORT_PINMUX(15, 1, 2)>; /* RXD */
	};
		

	/*usb0_pins: usb0 {
		pinmux = //<RZG2L_PORT_PINMUX(4, 0, 1)>, // VBUS 
			 <RZG2L_PORT_PINMUX(5, 0, 1)>, // OVC 
			 <RZG2L_PORT_PINMUX(5, 1, 1)>; // OTG_ID 
	};*/

	usb1_pins: usb1 {
		pinmux = <RZG2L_PORT_PINMUX(42, 0, 1)>, /* VBUS */
			 <RZG2L_PORT_PINMUX(42, 1, 1)>; /* OVC */
	};
	
	eth0_pins: eth0 {
		pinmux = <RZG2L_PORT_PINMUX(28, 1, 1)>, /* ET0_LINKSTA */
			 <RZG2L_PORT_PINMUX(27, 1, 1)>, /* ET0_MDC */
			 <RZG2L_PORT_PINMUX(28, 0, 1)>, /* ET0_MDIO */
			 <RZG2L_PORT_PINMUX(20, 0, 1)>, /* ET0_TXC */
			 <RZG2L_PORT_PINMUX(20, 1, 1)>, /* ET0_TX_CTL */
			 <RZG2L_PORT_PINMUX(20, 2, 1)>, /* ET0_TXD0 */
			 <RZG2L_PORT_PINMUX(21, 0, 1)>, /* ET0_TXD1 */
			 <RZG2L_PORT_PINMUX(21, 1, 1)>, /* ET0_TXD2 */
			 <RZG2L_PORT_PINMUX(22, 0, 1)>, /* ET0_TXD3 */
			 <RZG2L_PORT_PINMUX(24, 0, 1)>, /* ET0_RXC */
			 <RZG2L_PORT_PINMUX(24, 1, 1)>, /* ET0_RX_CTL */
			 <RZG2L_PORT_PINMUX(25, 0, 1)>, /* ET0_RXD0 */
			 <RZG2L_PORT_PINMUX(25, 1, 1)>, /* ET0_RXD1 */
			 <RZG2L_PORT_PINMUX(26, 0, 1)>, /* ET0_RXD2 */
			 <RZG2L_PORT_PINMUX(26, 1, 1)>; /* ET0_RXD3 */
	};

	/*gpio-sd0-pwr-en-hog {
		gpio-hog;
		gpios = <RZG2L_GPIO(4, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "gpio_sd0_pwr_en";
	};*/

	qspi0_pins: qspi0 {
		qspi0-data {
			pins = "QSPI0_IO0", "QSPI0_IO1", "QSPI0_IO2", "QSPI0_IO3";
			power-source = <1800>;
		};

		qspi0-ctrl {
			pins = "QSPI0_SPCLK", "QSPI0_SSL", "QSPI_RESET#";
			power-source = <1800>;
		};
	};

	/*
	 * SD0 device selection is XOR between GPIO_SD0_DEV_SEL and SW1[2]
	 * The below switch logic can be used to select the device between
	 * eMMC and microSD, after setting GPIO_SD0_DEV_SEL to high in DT.
	 * SW1[2] should be at position 2/OFF to enable 64 GB eMMC
	 * SW1[2] should be at position 3/ON to enable uSD card CN3
	 */
	sd0-dev-sel-hog {
		gpio-hog;
		gpios = <RZG2L_GPIO(41, 1) GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "sd0_dev_sel";
	};

	sdhi0_emmc_pins: sd0emmc {
		sd0_emmc_data {
			pins = "SD0_DATA0", "SD0_DATA1", "SD0_DATA2", "SD0_DATA3",
			       "SD0_DATA4", "SD0_DATA5", "SD0_DATA6", "SD0_DATA7";
			power-source = <1800>;
		};

		sd0_emmc_ctrl {
			pins = "SD0_CLK", "SD0_CMD";
			power-source = <1800>;
		};

		sd0_emmc_rst {
			pins = "SD0_RST#";
			power-source = <1800>;
		};
	};

	sdhi0_pins: sd0 {
		sd0_data {
			pins = "SD0_DATA0", "SD0_DATA1", "SD0_DATA2", "SD0_DATA3";
			power-source = <3300>;
		};

		sd0_ctrl {
			pins = "SD0_CLK", "SD0_CMD";
			power-source = <3300>;
		};

		sd0_mux {
			pinmux = <RZG2L_PORT_PINMUX(47, 0, 2)>; /* SD0_CD */
		};
	};

	sdhi0_pins_uhs: sd0_uhs {
		sd0_data_uhs {
			pins = "SD0_DATA0", "SD0_DATA1", "SD0_DATA2", "SD0_DATA3";
			power-source = <1800>;
		};

		sd0_ctrl_uhs {
			pins = "SD0_CLK", "SD0_CMD";
			power-source = <1800>;
		};

		sd0_mux_uhs {
			pinmux = <RZG2L_PORT_PINMUX(47, 0, 2)>; /* SD0_CD */
		};
	};
	
	NX611_Control_Pins: NX611_Pins {
	        wifi_pins {
	                pinmux = <RZG2L_PORT_PINMUX(46, 0, 0)>, // wake 
	                         <RZG2L_PORT_PINMUX(46, 1, 0)>; // reset 
	        };
	        
	        bluetooth_pins {
	                pinmux = <RZG2L_PORT_PINMUX(46, 3, 0)>, // wake 
	                         <RZG2L_PORT_PINMUX(47, 0, 0)>; // reset 
	        };
	        
	        wifi_bt_module_power {
	                pinmux = <RZG2L_PORT_PINMUX(46, 2, 0)>;
	        };
	};
	
	/*keyboard_pins: keyboard0 {
	        keyboard_rows {
	                pinmux = <RZG2L_PORT_PINMUX(0, 0, 1)>, 
			         <RZG2L_PORT_PINMUX(0, 1, 1)>, 
			         <RZG2L_PORT_PINMUX(1, 0, 1)>, 
			         <RZG2L_PORT_PINMUX(1, 1, 1)>, 
			         <RZG2L_PORT_PINMUX(2, 0, 1)>; 
		 };
		 
		 keyboard_cols {
		        pinmux = <RZG2L_PORT_PINMUX(12, 1, 0)>, 
			         <RZG2L_PORT_PINMUX(13, 0, 0)>, 
			         <RZG2L_PORT_PINMUX(13, 1, 0)>, 
			         <RZG2L_PORT_PINMUX(13, 2, 0)>;
		 };
	};*/
	
	/*
	GPIO_Keys_IRQ_Pins: gpiokeys0 {
	        pinmux = <RZG2L_PORT_PINMUX(2, 1, 1)>, 
          	         <RZG2L_PORT_PINMUX(3, 1, 1)>;
	};
	*/
	
	/*mtu_pwm_pins:mtu_pwm {
                pinmux = <RZG2L_PORT_PINMUX(9, 0, 4)>;  // MTIOC2A 
        };*/	
};

